[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.86.0"
uvicorn = {version = "==0.19.0", extras = ["standard"]}
mongoengine = "==0.24.2"
pydantic = {version = "==1.10.2", extras = ["email"]}
typing = "==3.7.4.3"
passlib = {version = "==1.7.4", extras = ["bcrypt"]}
pytest = "==7.2.0"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
